bin/Debug/netcoreapp2.1/Innovativo.dll
obj/Debug/netcoreapp2.1/Innovativo.csprojAssemblyReference.cache
bin/Debug/netcoreapp2.1/Innovativo.pdb
obj/Debug/netcoreapp2.1/Innovativo.dll
obj/Debug/netcoreapp2.1/Innovativo.pdb
